.editContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 220, 245);
    width: 90%;
    margin: 5%;
    border-radius: 20px;
    overflow: scroll;    
}

.editContainer input{
    margin: 5% 0 0 0;
    padding: 2%;
    background-color: rgb(255, 220, 245);
    border: 1px solid #010190;
    font-size: 1rem;
    color: #010190;
    border-radius: 5px;
}

.editContainer .editor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editContainer form > div{
    display: flex;
    flex-direction: column;
    padding: 0 5% 5% 5%;
}

.editContainer form{
    overflow: scroll;
}

.editContainer textarea{
    height: 5vh;
}

.editContainer .title, .editContainer textarea{
    margin-bottom: 5%;
    text-align: left;
    background-color: rgb(255, 220, 245);
    border: 1px solid #010190;
    font-size: 1rem;
    color: #010190;
    border-radius: 5px;
}

.editContainer .submitForm{
    padding: 0.5rem 5rem;
    background-color: rgb(255, 220, 245);
    border: 1px solid #010190;
    font-size: 1rem;
    color: #010190;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.add-question-button {
    margin: 0.3rem 0 0 0;
    padding: 0.6rem 3.5rem;
    background-color: #010190;
    color: rgb(255, 220, 245);
    border-radius: 20px;
    font-weight: 600;
    }