#feed{
    width: 100%;
    padding: 0 5% 0 5%;
}

#viewQuizzes .preview{
    position: inline;
    background-color: #010190;
    color: rgb(228, 235, 251);
    box-shadow: 1px 2px 4px 0px rgb(0, 16, 90);
    border-radius: 20px;
    padding: 0.5rem 0;
    margin: 0.5rem;
    overflow: scroll;
}

.quizzes-title {
    padding: 2rem;
    margin-bottom: 2rem;
}

#viewQuizzes{
    display: flex;
    flex-direction: column;
}

#feed h1{
    color: #010190;
}

.preview h2 {
    font-size: 1.3rem;
}

.preview p {
    font-size: 0.8rem;
}