#feed{
    width: 100%;
    padding: 0 5% 0 5%;
}

#viewQuizzes .preview{
    position: inline;
    background-color: #F9C74F;
    box-shadow: 1px 2px 4px 0px white;
    border-radius: 10%/20%;
    padding: 3%;
    height: 30vh;
    overflow: scroll;
}

#viewQuizzes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    overflow: scroll;
    padding: 2% 5% 2% 5%;
}

#feed h1{
    color: white;
}